@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
  font-family: "Helvetica Neue LT Com", "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

@keyframes tooltip-pop {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    left: 105%;
    transform: scale(1);
  }
}
.copy-tooltip {
  text-decoration: underline;
  position: relative;
  cursor: pointer;
  transition: color 0.2s ease-in;
}
.copy-tooltip::before {
  content: attr(data-copy);
  white-space: nowrap;
  padding: 0.5rem 1.2rem;
  position: absolute;
  top: 0;
  left: 70%;
  z-index: 6;
  background-color: #4d4d55;
  border-radius: 0.2rem;
  color: #FFFFFF;
  font-size: 0.9rem;
  display: none;
}
.copy-tooltip:hover::before {
  display: block;
  animation: tooltip-pop 0.3s forwards;
}

.alert {
  position: fixed;
  top: 0;
  left: 1vw;
  z-index: 5;
  width: 98vw;
  padding: 1.5rem 0;
  display: none;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.alert.error {
  background-color: #f8d7da;
  color: #842029;
  border: 3px solid #f5c2c7;
}
.alert.success {
  background-color: #d1e7dd;
  color: #0f5132;
  border: 3px solid #badbcc;
}
.alert p {
  width: 70%;
  margin: auto;
  font-size: 1.15rem;
}
.alert p b {
  font-size: 1.3rem;
  text-transform: uppercase;
  margin-right: 1rem;
}
.alert p b::after {
  content: ":";
  margin-left: 0.1rem;
}
.alert .close {
  position: absolute;
  top: 0.7rem;
  right: 1.5rem;
  z-index: 6;
  cursor: pointer;
}

@keyframes under_line {
  0% {
    right: 80%;
    width: 40%;
    opacity: 0.5;
  }
  100% {
    right: 0%;
    width: 100%;
    opacity: 1;
  }
}
nav {
  background: linear-gradient(to bottom, #001e8c -10%, rgba(66, 84, 150, 0.53) 60%, rgba(255, 255, 255, 0) 100%);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100vw;
  padding: 1rem 5rem;
}
nav .logo {
  display: block;
  width: 8vw;
  height: 8vw;
  background-image: url("../assets/logo.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
nav ul li {
  margin-left: 5rem;
  font-size: 1.5rem;
  font-weight: 300;
}
nav ul a {
  color: #FFFFFF;
  padding: 0.5rem;
  text-align: center;
  position: relative;
}
nav ul a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #F4D108;
  bottom: 0%;
  right: 0%;
  opacity: 0;
}
nav ul a:hover::before {
  animation: under_line 0.25s ease-in-out forwards;
}

html {
  scroll-behavior: smooth;
}

.scroll-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 0.5rem;
  height: 60vh;
  padding: 5vh 0;
  position: sticky;
  float: right;
  top: 20vh;
  z-index: 3;
  border-radius: 1rem;
  background-color: #d7d8df;
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-left: 0;
  margin-right: 2.5rem;
}
.scroll-nav .scroll-dot {
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  background-color: #aaa8ad;
  border-radius: 50%;
  transform: translateX(-0.15rem);
  cursor: pointer;
  position: relative;
}
.scroll-nav .scroll-dot:hover {
  background-color: royalblue;
}
.scroll-nav .scroll-dot:hover::before {
  color: royalblue;
}
.scroll-nav .scroll-dot::before {
  content: attr(data-tooltip);
  position: absolute;
  top: 50%;
  right: 1.8rem;
  transform: translateY(-50%);
  color: rgba(128, 128, 128, 0.397);
}
.scroll-nav .scroll-dot.active {
  background-color: royalblue;
}
.scroll-nav .scroll-dot.active::before {
  color: royalblue;
}

header {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header .caroussel {
  background-image: url("../assets/landing0.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
header .caroussel .background-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
  background-color: #1900FF;
  opacity: 0.42;
}
header .welcome {
  text-align: center;
  color: #FFFFFF;
  padding-top: 20vh;
}
header .welcome-text {
  margin-bottom: 4rem;
}
header .welcome-text h1 {
  font-size: 2.5rem;
  font-weight: 300;
}
header .welcome button {
  border: none;
  background-color: #F4D108;
  color: #FFFFFF;
  padding: 0.7rem 2rem;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 300;
}

footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 1rem 6rem;
  background-color: #223E7C;
  color: #FFFFFF;
}
footer .logo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 33.33%;
  padding: 2rem 0;
}
footer .logo img {
  width: 15vh;
  margin-right: 2rem;
}
footer .logo h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
}
footer .logo h1 span {
  font-size: 3rem;
  font-weight: 400;
}
footer .rights {
  width: 33.33%;
  align-self: flex-end;
  text-align: center;
  font-weight: 300;
}
footer .social {
  width: 33.33%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
footer .social .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 300;
}
footer .social .container:not(footer .social .container:nth-of-type(3)) {
  margin-bottom: 1rem;
}
footer .social .container i {
  font-size: 0.9rem;
  margin-right: 0.7rem;
}

section.about {
  padding: 4rem 0;
  position: relative;
  background-color: #FFFFFF;
  overflow: hidden;
}
section.about > * {
  position: relative;
  z-index: 2;
}
section.about .background {
  position: absolute;
  top: 2vh;
  max-height: 100vh;
  left: -10vw;
}
section.about .text {
  width: 50vw;
  margin: 0 auto 3rem auto;
  text-align: center;
}
section.about .text h1 {
  color: #2A448D;
  margin-bottom: 0.7rem;
  font-size: 2rem;
  font-weight: 400;
}
section.about .text p {
  color: #707070;
  font-size: 1.2rem;
}
section.about .board {
  width: 50%;
  margin: 0 auto;
}
section.about .board .title {
  color: #2a448da6;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 400;
}
section.about .board .cards-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
section.about .board .card {
  background-image: url("../assets/team/1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  aspect-ratio: 9/11;
  width: 31.5%;
  margin-bottom: 2rem;
  position: relative;
  padding: 0 0.5rem;
}
section.about .board .card .hover-wrapper {
  opacity: 0;
}
section.about .board .card-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: normal;
  background-color: #0077ff;
  opacity: 0.7;
  z-index: 1;
}
section.about .board .card-title {
  color: #FFFFFF;
  position: relative;
  z-index: 3;
  text-align: center;
}
section.about .board .card-title h1 {
  font-size: 1.5rem;
  font-weight: 400;
}
section.about .board .card-title p {
  font-size: 1rem;
  opacity: 0.9;
}
section.about .board .card-title .social {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1rem auto 0 auto;
  font-size: 1.2rem;
}
section.about .board .card-title .social a:nth-of-type(1) {
  margin-right: 2rem;
}
section.about .board .card-title .social a {
  opacity: 0.9;
  color: #FFFFFF;
}
section.about .board .card:hover .hover-wrapper {
  opacity: 1;
}

section.events {
  padding: 4rem 0;
  position: relative;
  background-color: #E8E8E8;
  overflow: hidden;
}
section.events > * {
  position: relative;
  z-index: 2;
}
section.events .background {
  position: absolute;
  top: 2vh;
  max-height: 100vh;
  right: -10vw;
}
section.events .text {
  width: 50vw;
  margin: 0 auto 3rem auto;
  text-align: center;
}
section.events .text h1 {
  color: #2A448D;
  margin-bottom: 0.7rem;
  font-size: 2rem;
  font-weight: 400;
}
section.events .text p {
  color: #707070;
  font-size: 1.2rem;
}
section.events .carousel-container {
  width: 70vw;
  margin: 0 auto;
}
section.events .carousel-container .carousel {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
section.events .carousel-container .card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/card1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: flex-end;
  height: calc(1.4324324324 * 13vw);
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  padding-bottom: 3rem;
  margin: 0 3rem;
  transition: transform 1s ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}
section.events .carousel-container .card-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: noraml;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 10%, #050980 110%);
  opacity: 0;
}
section.events .carousel-container .card-title {
  width: 70%;
  z-index: 3;
}
section.events .carousel-container .card-title h1 {
  color: #FFFFFF;
  margin-bottom: 0.7rem;
  position: relative;
  right: 3vw;
  opacity: 0;
  font-weight: 300;
}
section.events .carousel-container .card-title p {
  color: #FFFFFF;
  position: relative;
  right: 5vw;
  opacity: 0;
}
section.events .carousel-container .card-highlight-center {
  transform: scale(1.2);
}
section.events .carousel-container .card-highlight-center .card-filter {
  transition: opacity 0.8s ease-in-out;
  opacity: 1;
}
section.events .carousel-container .card-highlight-center .card-title h1 {
  right: 0;
  opacity: 1;
  transition: opacity 0.3s ease-out 0.3s, right 0.5s ease-out 0.3s;
}
section.events .carousel-container .card-highlight-center .card-title p {
  right: 0;
  opacity: 0.38;
  transition: opacity 0.5s ease-out 0.7s, right 0.5s ease-out 0.7s;
}
section.events .carousel-container .dots {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
section.events .carousel-container .dots li button {
  display: block;
  width: 0.7rem;
  height: 0.7rem;
  cursor: pointer;
  border: none;
  background-color: #8C8C8C;
  margin: 0 0.3rem;
  border-radius: 50%;
}
section.events .carousel-container .dots li button:hover {
  border: 3px solid #2A448D;
}
section.events .carousel-container .dots .slick-active button {
  background-color: #2A448D;
}
section.events .carousel-container .slick-list {
  width: 80%;
  padding: 4rem 0 !important;
}
section.events .carousel-container .slick-prev,
section.events .carousel-container .slick-next {
  display: block;
  width: 2rem;
  height: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 3rem;
  color: #04007E;
}

section.contact {
  width: 100vw;
  padding: 4rem 0;
  position: relative;
  background-color: #FFFFFF;
  overflow-y: hidden;
}
section.contact > * {
  position: relative;
  z-index: 2;
}
section.contact .background {
  position: absolute;
  top: 2vh;
  max-height: 100vh;
  left: -10vw;
}
section.contact .text {
  width: 50vw;
  margin: 0 auto 3rem auto;
  text-align: center;
}
section.contact .text h1 {
  color: #2A448D;
  margin-bottom: 0.7rem;
  font-size: 2rem;
  font-weight: 400;
}
section.contact .text p {
  color: #707070;
  font-size: 1.2rem;
}
section.contact form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin: auto;
  padding: 2rem 0;
}
section.contact form input,
section.contact form textarea {
  padding: 0.6rem 1rem;
  background-color: #F3F3F3;
  border: 1px solid #707070;
  font-size: 1rem;
}
section.contact form input:focus,
section.contact form textarea:focus {
  border: 2px solid #4575a1;
  outline: none;
}
section.contact form input::placeholder,
section.contact form textarea::placeholder {
  color: #A5A5A5;
}
section.contact form input.error,
section.contact form textarea.error {
  border: 2px solid #f5919b;
}
section.contact form input.error::placeholder,
section.contact form textarea.error::placeholder {
  color: #842029;
}
section.contact form input.ok,
section.contact form textarea.ok {
  border: 2px solid #7be2b4;
}
section.contact form .first-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}
section.contact form .first-row input[type=email] {
  width: 60%;
}
section.contact form .first-row input[type=tel] {
  width: 37%;
}
section.contact form textarea {
  font-family: "Helvetica Neue LT Com", "Roboto", sans-serif;
  width: 100%;
  margin-bottom: 1.3rem;
  resize: none;
}
section.contact form button {
  align-self: flex-end;
  padding: 0.6rem 2.4rem;
  border: 1px solid #707070;
  background-color: #F4D108;
  color: #FFFFFF;
  cursor: pointer;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}

/*# sourceMappingURL=main.css.map */
