@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
  font-family: "Helvetica Neue LT Com", "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

/*
Melek
TODO: extract colors from design
example:
  $variableName: hex-value;
*/
nav {
  background: linear-gradient(to bottom, #001e8c -10%, rgba(66, 84, 150, 0.53) 60%, rgba(255, 255, 255, 0) 100%);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100vw;
  padding: 1rem 5rem;
}
nav .logo {
  display: block;
  width: 8vw;
  height: 8vw;
  background-image: url("../assets/logo.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: calc(100vw - 8vw - 10rem);
}
nav ul li {
  margin-left: 5rem;
  font-size: 1.5rem;
  font-weight: 300;
}
nav ul a {
  color: #FFFFFF;
  padding: 0.5rem;
}

header {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header .caroussel {
  background-image: url("../assets/landing0.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
header .caroussel .background-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
  background-color: #1900FF;
  opacity: 0.42;
}
header .welcome {
  text-align: center;
  color: #FFFFFF;
  padding-top: 20vh;
}
header .welcome-text {
  margin-bottom: 4rem;
}
header .welcome-text h1 {
  font-size: 2.5rem;
  font-weight: 300;
}
header .welcome button {
  border: none;
  background-color: #F4D108;
  color: #FFFFFF;
  padding: 0.7rem 2rem;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 300;
}

footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 1rem 3rem;
  background-color: #223E7C;
  color: #FFFFFF;
}
footer .logo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
footer .logo img {
  width: 15vh;
  margin-right: 2rem;
}
footer .logo h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
}
footer .logo h1 span {
  font-size: 3rem;
  font-weight: 400;
}
footer .rights {
  align-self: flex-end;
  text-align: center;
  font-weight: 300;
}
footer .social .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  font-weight: 300;
}
footer .social .container i {
  font-size: 0.9rem;
  margin-right: 0.7rem;
}

section.about {
  padding: 4rem 0;
}
section.about .text {
  width: 50vw;
  margin: 0 auto 3rem auto;
  text-align: center;
}
section.about .text h1 {
  color: #2A448D;
  margin-bottom: 0.7rem;
  font-size: 2rem;
  font-weight: 400;
}
section.about .text p {
  color: #707070;
  font-size: 1.2rem;
}
section.about .board {
  width: 70vw;
  margin: 0 auto;
}
section.about .board h2 {
  color: #2a448da6;
  font-size: 1.5rem;
  font-weight: 300;
}

nav,
header {
  display: none;
}

/*# sourceMappingURL=main.css.map */
