@use "./config"as *;
@use "./landing_mixins"as *;

@keyframes board-card-animation {
  0% {
    transform: scale(.7);
    opacity: 0;
    top: 1.5rem;
  }

  100% {
    transform: scale(1);
    opacity: 1;
    top: 0;
  }
}

section.about {
  padding: 4rem 0;
  position: relative;
  background-color: $white;
  overflow: hidden;

  &>* {
    position: relative;
    z-index: 2;
  }

  .background {
    @include section-lion;
  }

  .text {
    @include section-text;
  }

  .board {

    width: 60%;
    margin: 0 auto;

    .title {
      color: $light-blue;
      margin-bottom: 2rem;

      font: {
        size: 1.5rem;
        weight: 400;
      }

    }

    .cards-container {
      @include flexy('x', space-between);

      .hidden {
        transition: margin-bottom 100ms ease-out;
        margin-bottom: 0;
      }

    }

    .card {
      @include img-background('');
      @include flexy('y', center);

      width: 31.5%;
      height: 0;
      margin-bottom: 2rem;
      position: relative;
      padding: 0 .5rem;
      opacity: 0;



      .hover-wrapper {
        opacity: 0;
      }



      &-filter {
        @include apply-filter($board-cards-filter);

        z-index: 1;

      }

      &-title {
        color: $white;
        position: relative;
        z-index: 3;
        text-align: center;


        h1 {
          position: relative;
          opacity: 0;

          font: {
            size: 2rem;
            weight: 400;
          }
        }

        p {
          position: relative;
          font-size: 1.2rem;
          opacity: 0;
        }

        .social {
          @include flexy('x', center);
          width: 100%;
          margin: 1rem auto 0 auto;
          font-size: 1.5rem;
          opacity: 0;
          transform: scale(0);
          position: relative;

          a:nth-of-type(1) {
            margin-right: 2rem;
          }

          a {
            opacity: .9;
            color: $white;
          }
        }
      }

      &:hover {
        .hover-wrapper {
          transition: opacity .25s ease-out;
          opacity: 1;
        }

        h1 {
          animation: board-card-animation .4s ease-out forwards;
        }

        p {
          animation: board-card-animation .4s ease-out .3s forwards;
        }

        .social {
          transform: scale(1);
          animation: board-card-animation .3s ease-out .45s forwards;
          transition: transform 0s ease-in-out .45s;
        }
      }

    }

    .see-more {
      @include flexy('x', center);
      width: 100%;
      margin-top: 1rem;
      color: $blue;
      display: none;
      user-select: none;


      .click-container {
        @include flexy('x', center);
        padding: 1rem;
        border: 1px solid $grey;
        cursor: pointer;

        h2 {
          font: {
            size: 1.4rem;
            weight: 300;
          }
        }

        i {
          font-size: 1.7rem;
          margin-top: .15rem;
          margin-left: .5rem;
        }


        &:hover {
          background-color: $blue;
          color: $white;
        }
      }
    }
  }
}