@use "./config"as *;
@use "./landing_mixins"as *;


section.contact {
  width: 100vw;
  padding: 4rem 0;
  position: relative;
  background-color: $white;
  overflow-y: hidden;

  &>* {
    position: relative;
    z-index: 2;
  }

  .background {
    @include section-lion;

  }

  .text {
    @include section-text;
  }


  form {
    @include flexy('y', center);
    width: 40%;
    max-width: 600px;
    margin: auto;
    padding: 2rem 0;

    input,
    textarea {
      padding: .6rem 1rem;
      background-color: $input-background;
      border: 1px solid $grey;
      font-size: 1rem;

      &:focus {
        border: 2px solid rgb(69, 117, 161);
        outline: none;
      }

      &::placeholder {
        color: $input-placeholder;
      }

      &.error {
        border: 2px solid #f5919b;

        &::placeholder {
          color: #842029;
        }

      }

      &.ok {
        border: 2px solid #7be2b4;
      }

    }

    .first-row {
      @include flexy('x', space-between);
      width: 100%;
      margin-bottom: 1rem;


      input[type=email] {
        width: 60%;
      }

      input[type=tel] {
        width: 37%;
      }
    }

    textarea {
      font-family: $fonts;
      width: 100%;
      margin-bottom: 1.3rem;
      resize: none;
    }

    button {
      align-self: flex-end;
      padding: .6rem 2.4rem;
      border: 1px solid $grey;
      background-color: $action-color;
      color: $white;
      cursor: pointer;
    }
  }
}