@use "./config"as *;
@use "./landing_mixins"as *;
@use "sass:math";

@keyframes quotes-animation {
  0% {
    top: 1rem;
    opacity: 0;
  }

  50% {
    opacity: .3;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

section.events {
  padding: 4rem 0;
  position: relative;
  background-color: $events-section-color;
  overflow: hidden;

  &>* {
    position: relative;
    z-index: 2;
  }

  .background {
    @include section-lion(right);
  }

  .text {
    @include section-text;

    p {
      position: relative;
      opacity: 0;

      &::before {
        content: open-quote;
        margin-right: .25rem;
        font-size: 1.7rem;
        position: relative;
        top: .4rem;
      }

      &::after {
        content: close-quote;
        margin-left: .25rem;
        font-size: 1.7rem;
        position: relative;
        top: .4rem;
      }
    }

    p.quote {
      animation: quotes-animation .5s ease-out forwards;


    }
  }

  .carousel-container {
    @include set-carousel-responsive(.05, 80vw, 0.8, 3);

    margin: 0 auto;

    .carousel {
      @include flexy('x', center);
    }

    .card {
      @include flexy('x', center);

      align-items: flex-end;
      border-radius: 16px;
      position: relative;
      overflow: hidden;
      padding-bottom: 3rem;
      transition: transform 1s ease-in-out;

      box-shadow:
        0 4px 8px 0 rgba(0, 0, 0, 0.7),
        0 6px 20px 0 rgba(0, 0, 0, 0.3);


      &-background {
        @include img-background('', center);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      &-filter {
        @include apply-filter($blend:noraml) {
          @include apply-gradient(bottom, $card-filter)
        }

        opacity: 0;
      }

      &-title {
        width: 70%;
        z-index: 3;


        h1 {
          color: $white;
          margin-bottom: .7rem;
          position: relative;
          right: 3vw;
          opacity: 0;

          font: {
            weight: 300;
          }
        }

        p {
          color: $white;
          position: relative;
          right: 5vw;
          opacity: 0;
        }
      }

      &-highlight-center {
        transform: scale(1.2);

        .card-filter {
          transition: opacity .8s ease-in-out;
          opacity: 1;
        }

        .card-title h1 {
          right: 0;
          opacity: 1;

          transition:
            opacity .3s ease-out .3s,
            right .5s ease-out .3s;
        }

        .card-title p {
          right: 0;
          opacity: .38;

          transition:
            opacity .5s ease-out .7s,
            right .5s ease-out .7s;
        }

      }
    }



    .dots {
      @include flexy('x', center);
      width: 100%;

      li button {
        @include square(.7rem);
        cursor: pointer;
        border: none;
        background-color: $dots-color;
        color: $dots-color;
        margin: 0 .3rem;
        border-radius: 50%;
        overflow: hidden;

        &:hover {
          border: 3px solid $blue;
        }
      }

      .slick-active button {
        background-color: $blue;
        color: $blue;
      }
    }

    .slick-list {
      padding: 4rem 0 !important;
    }

    .slick-prev,
    .slick-next {
      @include square(2rem);
      @include flexy('y', flex-start);
      cursor: pointer;
      border: none;
      background-color: transparent;
      font-size: 3rem;
      color: $arrow-color;
    }
  }
}