@use "./config"as *;
@use "./landing_mixins"as *;

section.events {
  padding: 4rem 0;
  position: relative;
  background-color: $events-section-color;
  overflow: hidden;

  &>* {
    position: relative;
    z-index: 2;
  }

  .background {
    @include section-lion(right);
  }

  .text {
    @include section-text;
  }

  .carousel-container {
    @include section-carousel;
  }
}