@use "./config"as *;

footer {
  @include flexy('x', space-between);
  width: 100vw;
  padding: 1rem 6rem;
  background-color: $footer-color;
  color: $white;

  .logo {
    @include flexy('x', flex-start);
    width: 33.33%;
    padding: 2rem 0;


    img {
      width: 15vh;
      margin-right: 2rem;
    }

    h1 {
      text-align: center;

      font: {
        size: 2rem;
        weight: 400;
      }

      span {
        font: {
          size: 3rem;
          weight: 400;
        }
      }
    }
  }

  .rights {
    width: 33.33%;
    align-self: flex-end;
    text-align: center;
    font-weight: 300;
  }

  .social {
    width: 33.33%;
    @include flexy('y', flex-end);

    .container {
      @include flexy('x', center);
      font-weight: 300;

      &:not(&:nth-of-type(3)) {
        margin-bottom: 1rem;
      }

      i {
        font-size: .9rem;
        margin-right: .7rem;
      }

    }
  }
}