@use "./config"as *;

@keyframes tooltip-pop {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    left: 105%;
    transform: scale(1);
  }
}


.copy-tooltip {
  text-decoration: underline;
  position: relative;
  cursor: pointer;
  transition: color .2s ease-in;


  &::before {
    content: attr(data-copy);
    white-space: nowrap;
    padding: .5rem 1.2rem;
    position: absolute;
    top: 0;
    left: 70%;
    z-index: 6;
    background-color: rgb(77, 77, 85);
    border-radius: .2rem;
    color: $white;
    font-size: .9rem;
    display: none;

  }

  &:hover::before {
    display: block;
    animation: tooltip-pop .3s forwards;
  }
}