// gradients
$blue-filter:((#001E8C, #425496, #FFFFFF),
  (1, .53, 0),
  (-10%, 60%, 100%));
$card-filter:((#FFFFFF, #050980),
  (0, 1),
  (10%, 110%));

// colors
$header-filter:(#1900FF, .42);
$board-cards-filter:(#0077ff, .7);
$action-color:#F4D108;
$white:#FFFFFF;
$blue:#2A448D;
$footer-color:#223E7C;
$light-blue:#2a448da6;
$grey:#707070;
$dots-color:#8C8C8C;
$arrow-color:#04007E;
$events-section-color:#E8E8E8;
$input-background:#F3F3F3;
$input-placeholder:#A5A5A5;

// fonts
$fonts:("Helvetica Neue LT Com", "Roboto", sans-serif);
//TODO: add Helvetica font