@use "./config"as *;
@use "sass:math";

@mixin section-lion($align:left) {
  position: absolute;
  top: 2vh;
  max-height: 100vh;

  @if $align==left {
    left: -10vw;
  }

  @else if $align==right {
    right: -10vw;
  }
}

@mixin section-text {
  width: 50vw;
  margin: 0 auto 3rem auto;
  text-align: center;

  h1 {
    color: $blue;
    margin-bottom: .7rem;

    font: {
      size: 2rem;
      weight: 400;
    }

  }

  p {
    color: $grey;
    font-size: 1.2rem;
  }
}

// TODO: delete this after the redesign of the board cards
@mixin section-carousel {
  width: 70vw;
  margin: 0 auto;


  .carousel {
    @include flexy('x', center);
  }

  //TODO: add the selected card animation
  .card {
    $card-width: 13vw;

    @include flexy('x', center);
    @include img-background('../assets/card1.jpg', center);
    align-items: flex-end;
    //TODO: fix the width and the aspect ratio or whatever
    // width: $card-width;
    height: calc(#{math.div(530,370)} * #{$card-width});
    border-radius: 16px;
    position: relative;
    overflow: hidden;
    padding-bottom: 3rem;
    margin: 0 3rem;
    transition: transform 1s ease-in-out;

    box-shadow:
      0 4px 8px 0 rgba(0, 0, 0, 0.7),
      0 6px 20px 0 rgba(0, 0, 0, 0.3);


    &-filter {
      @include apply-filter($blend:noraml) {
        @include apply-gradient(bottom, $card-filter)
      }

      opacity: 0;
    }

    &-title {
      width: 70%;
      z-index: 3;


      h1 {
        color: $white;
        margin-bottom: .7rem;
        position: relative;
        right: 3vw;
        opacity: 0;

        font: {
          weight: 300;
        }
      }

      p {
        color: $white;
        position: relative;
        right: 5vw;
        opacity: 0;
      }
    }

    &-highlight-center {
      transform: scale(1.2);

      .card-filter {
        transition: opacity .8s ease-in-out;
        opacity: 1;
      }

      .card-title h1 {
        right: 0;
        opacity: 1;

        transition:
          opacity .3s ease-out .3s,
          right .5s ease-out .3s;
      }

      .card-title p {
        right: 0;
        opacity: .38;

        transition:
          opacity .5s ease-out .7s,
          right .5s ease-out .7s;
      }

    }
  }



  .dots {
    @include flexy('x', center);
    width: 100%;

    li button {
      @include square(.7rem);
      cursor: pointer;
      border: none;
      background-color: $dots-color;
      margin: 0 .3rem;
      border-radius: 50%;

      &:hover {
        border: 3px solid $blue;
      }
    }

    .slick-active button {
      background-color: $blue;
    }
  }

  .slick-list {
    width: 80%;
    padding: 4rem 0 !important;
  }

  .slick-prev,
  .slick-next {
    @include square(2rem);
    @include flexy('y', flex-start);
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 3rem;
    color: $arrow-color;
  }
}