@use "./config"as *;
@use "sass:list";


@keyframes under_line {
  0% {
    right: 80%;
    width: 40%;
    opacity: .5;
  }

  100% {
    right: 0%;
    width: 100%;
    opacity: 1;
  }
}

nav {
  @include apply-gradient(bottom, $blue-filter);
  @include flexy('x', space-between);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100vw;
  padding: 1rem 5rem;
  //TODO: add paralex
  //TODO: make the mobile version

  .logo {
    @include square(8rem);
    @include img-background('../assets/logo.png');
  }

  ul {
    @include flexy('x', flex-end);


    li {
      margin-left: 5rem;

      font: {
        size: 1.5rem;
        weight: 300;
      }
    }

    a {
      color: $white;
      padding: .5rem;
      text-align: center;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $action-color;
        bottom: 0%;
        right: 0%;
        opacity: 0;

      }

      &:hover::before {
        animation: under_line .25s ease-in-out forwards;
      }
    }
  }
}